.Card{
  border: 1px solid hsl(0, 100%, 2%);
  border-radius: 10px;
  box-shadow: hsl(0, 100%, 20%);
  padding: 20px;
  text-align: center;
  margin: 10px;
  max-width: 250px;
  display: inline-block;

}

.Card .profile{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10PX;
}
.Card .name{
  font-family: sans-serif;
  margin: 0;
  color: hsla(0, 0%, 0%, 0.784);

}
.Card .profiletext{
  font-family: sans-serif;
  color: black;
}
/* 
.Button{
  color: white;
  background: rgb(154, 154, 170);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px
}
.Button:hover{
  background: hsla(0, 0%, 0%, 0.946);
  color: orange;
} */