/* Reset margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background and font */
body {
  font-family:  sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
}



/* Example: switch to desktop background for larger screens */
@media (min-width: 768px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }
}

/* Card */
.card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(29, 23, 23, 0.1);
}

/* Hero image */
.hero img {
  width: 100%;
  display: block;
}

/* Content */
.content {
  padding: 30px;
}

.content h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: hsl(223, 47%, 23%);
  font-family: sans-serif;
}

.content p {
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Plan section */
.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin-bottom: 10x;
}

.plan img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.plan-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 4;
  text-align: left;

}

.plan-details span {
  color: hsl(223, 47%, 23%);
}

.amount {
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  margin-top: 0;
 position: relative;
}

.plan a {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: li;
}

/* Buttons */
button {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-weight: bold;
  font-size: 0.95rem;

}

.proceed {
  background-color: hsl(245, 100%, 51%);
  color: #fff;
 box-shadow: 3px 10px 20px rgba(116, 106, 122, 0.3);
}

.proceed:hover {
  background-color: hsl(245, 75%, 60%);
}

.cancel {
  background-color: hsl(224, 23%, 55%);
color: #fff;
 background: none;
 color: rgb(70, 64, 64);
font-weight:bold ;
margin-top: 0;
}



